<Configuration>

    <GridConfig
        instrument="BTC/USDT"
        base_price="30000.0"
        levels_below="4"
        levels_above="4"
        step_percent="0.005"
        percent_order_qty="0.001"
        max_position="2.0"
    />

    <SessionConfig>
<!--        <Session name="BINANCEMD"-->
<!--                     num_id="1"-->
<!--                     host="stream.binance.com"-->
<!--                     port="9443"-->
<!--                     protocol="ws"-->
<!--                     snapshot_http="https://api.binance.com/api/v3/depth?symbol=INSTRUMENT&amp;limit=10"-->
<!--                     depth="0"-->
<!--                     api_key="KWBUPUMW7F7JAP1SijCl2pmoce0fvKv5OZsSU11nsPSf5hot2oPDadfw6dRxZGEg"-->
<!--                     secret_key="8iWk7y5yuvUxOKwKa8EbYXffgzkmqios34FHzRFgHCaAKyfa737IMois5e2FZgnn"-->
<!--                     schema="Binance:MD"-->
<!--        />-->

<!--        <Session name="BINANCE_TT_01"-->
<!--                 num_id="2"-->
<!--                 protocol="rest"-->
<!--                 orders_http="https://testnet.binance.vision/api/v3/order"-->
<!--                 api_key="OT1K4NO9vwLG4wK9SNeM58hK8GRmEcFS3B7ndJxSDndmoEXnX5H2srazykMF8tG6"-->
<!--                 secret_key="KpiPB5ahHOsLg5cRhjg6Sl1mUahK41CywkDEPPTDf7eqDZnIFMJkGH7RHSSq4WZw"-->
<!--                 recv_window="5000"-->
<!--                 order_monitoring_interval="5000"-->
<!--        />-->

        <Session name="COINBASEMD"
                     num_id="3"
                     host="ws-feed-public.sandbox.exchange.coinbase.com"
                     api_key=""
                     secret_key=""
                     port="443"
                     channels="level2_batch"
                     schema="Coinbase:MD"
                     instruments="BTC/USD"
        />

        <Session name="COINBASEORD"
                     num_id="4"
                     protocol="rest"
                     orders_http="https://api-sandbox.coinbase.com/api/v3/brokerage/"
                     _api_key="e76bd7dcb86bc4f89689a210d6a64c70"
                     _secret_key="y/NKb3m8MbaDIo/xW4JCh4/F/svi3TxoESMVF742RfUA8iYrOAsZTlbkrZ6U6bUWBtkhEDxE46EKcJ4pKNFqow=="
                     port="443"
                     passphrase="thsv5x4pwhmo"
                     schema="Coinbase:ORD"
        />

<!--        <Session name="OKX_TR_01"-->
<!--                 num_id="999206"-->
<!--                 host="ws.okx.com"-->
<!--                 port="8443"-->
<!--                 api_key="f11a308e-eecd-46be-b931-daed0618e6f5"-->
<!--                 secret_key="8094AB566672DB66031F470458C2AD02">-->
<!--            <Parameter name="passphrase" value="OKXVesp@100"/>-->
<!--        </Session>-->

<!--        <Session name="OKX_TT_01"-->
<!--                 num_id="999207"-->
<!--                 host="ws.okx.com"-->
<!--                 port="8443"-->
<!--                 orders_http="https://www.okx.com/api/v5/trade/order"-->
<!--                 api_key="f11a308e-eecd-46be-b931-daed0618e6f5"-->
<!--                 secret_key="8094AB566672DB66031F470458C2AD02"-->
<!--                 order_monitoring_interval="5000">-->
<!--            <Parameter name="passphrase" value="OKXVesp@100"/>-->
<!--            <Parameter name="x-simulated-trading" value="1"/>-->
<!--            <Parameter name="tdMode" value="cash"/>-->
<!--            <Parameter name="cancel_order_http" value="https://www.okx.com/api/v5/trade/cancel-order"/>-->
<!--            <Parameter name="system_time_http" value="https://www.okx.com/api/v5/public/time"/>-->
<!--            <Parameter name="orders_limit_period_in_seconds" value="2"/>-->
<!--            <Parameter name="orders_limit_max" value="60"/>-->
<!--        </Session>-->

    </SessionConfig>

</Configuration>
